/* Loader */

.loader {
	background: #181a21;
    background: rgb(233, 233, 233);
    background: linear-gradient(90deg, rgba(233, 233, 233, 1) 15%, rgba(255, 255, 255, 1) 50%, rgba(233, 233, 233, 1) 85%);
    padding: 50px 200px 75px 200px;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background: rgb(13, 11, 14);
    background: radial-gradient(circle, rgba(13, 11, 14, 1) 0%, rgba(22, 25, 27, 1) 50%, rgba(13, 11, 14, 1) 100%);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.loader img{
	width: 300px;
	padding: 5px 0px;
}


.fadeout{
  animation: vanish 1s forwards;
}

@keyframes vanish {
	from {
			
  	}

	to {
		visibility:hidden;
		display:none !important;	
    }
}
